{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="color: #009a3b;">Login</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
            <div class="pb-2">
                <p class="text-muted">
                    Ainda não se registou? <a href="{% url 'users:register' %}" style="color: #01a28d;">Registe-se aqui</a>
                </p>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Forgot Your Password? <a href="{% url 'users:password_reset' %}">Reset Here</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock content%}