{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
<div class="row mt-4">
    <div class="col-12 col-lg-8 offset-lg-2" style="margin-top: 7%;">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="color: #e87e19;">Iniciar Sessão</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Iniciar Sessão</button>
                </div>
            </form>
            <div class="pb-2">
                <p class="text-muted">
                    Ainda não se registou? <a href="{% url 'users:register' %}" style="color: #e87e19;">Registe-se aqui</a>
                </p>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Esqueceu-se da sua palavra-passe? <a href="{% url 'users:password_reset' %}">Recupere aqui</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock content%}