{% extends "base_bg.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-12 col-md-8 offset-md-2">
		<div class="heroimgbox-login p-4 my-5">
            <h5 class="text-center">Ainda não se registou?</h5>
            <div class="text-center mb-4">
                <a class="btn" href="{% url 'users:register' %}">Registar</a>
            </div>
            <h5 class="text-center">Já está registado?</h5>
            <div class="text-center">
                <a class="btn" href="{% url 'users:login' %}">Login</a> <br>
            </div>
		</div>
	</div>
</div>
{% endblock %}
