{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
<div class="row mt-4">
    <div class="col-12 col-lg-8 offset-lg-2" style="margin-top: 10%;">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Recuperar Palavra-Passe</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Pedir Palavra-Passe</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content%}