<!-- <p>
    Acabou de receber este mail, depois da sua conta ter sido criada com o endereço: {{ user.email }}...
    Para definir a senha, clique <a href="{{ protocol}}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">AQUI</a>.
</p>
<p>Se não sabe a razão de ter recebido este e-mail, ignore, por favor.</p> -->
<p>Olá,</p>
<p>Está a receber este e-mail porque criou uma conta com e-mail {{ user.email }} no site <a href="https://diaabertobimby.bimby.pt">diaabertobimby.bimby.pt</a>. Para definir a palavra-passe, <a href="{{ protocol}}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">clique aqui</a>.</p>
<p>Se não sabe a razão de ter recebido este e-mail, ignore, por favor.</p>
<p>Obrigada,<br>
Equipa Bimby®
</p>


