{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="content-section p-4 mt-4">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            <!-- 'enctype' to suport images in the form -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="color: #e87e19;">Informação de Perfil</legend>
                {{ u_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Atualizar</button>
            </div>
        </form>
    </div>
{% endblock content%}