{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><i style="width: 30px" class="fa-solid fa-user-plus"></i> Register</legend>
                {{ form.email|as_crispy_field }}
                {{ form.username|as_crispy_field }}
                {{ form.first_name|as_crispy_field }}
                {{ form.last_name|as_crispy_field }}
                {{ form.bimby|as_crispy_field }}
                {{ form.aceito|as_crispy_field }}
                {{ form.role.as_hidden }}
            </fieldset>
            <div class="form-group" style="text-align: right;">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
        <!-- <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'users:login' %}">Sign In</a>
            </small>
        </div> -->
    </div>
{% endblock content%}