{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}
<div class="row">
    <div class="col-12 p-5">
        <div>
            Descubra a loja mais próxima de si.
        </div>
    </div>
    {% for local in locais %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-4 py-4" style="background-color: whitesmoke;">
        <h5 style="color: #009a3b">{{ local.nome }}</h5>
        <p>{{ local.enderecoum }}
        {% if local.enderecodois %} 
        , {{ local.enderecodois }}
        {% endif %} <br>
        Cód. Postal: {{ local.codigopostal }} <br>
        Cidade: {{ local.cidade }}</p>
        <p>{{ local.x }}</p>
        <a class="btn btn-outline-info" href="https://www.waze.com/ul?ll={{ local.latitude }}00%2C{{ local.longitude }}00&navigate=yes&zoom=17" target="_blank"><i class="fab fa-waze"></i></a>
        <a class="btn btn-outline-info" href="https://www.google.com/maps/search/?api=1&query={{ local.latitude }}%2C{{ local.longitude }}" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
    </div>
    {% endfor %}
</div>
{% endblock content%}