{% extends 'base.html' %}

{% block content %}

{% if not user.is_authenticated %}

  <div class="row">
    <div class="col-md-6 offset-md-3" style="margin-top: 7%;">
      <div class="heroimgbox p-4">
        <h5 class="text-center">Já está registado?</h5>
        <div class="text-center mb-3">
          <a class="btn" href="{% url 'users:login' %}">Login</a> <br>
        </div>
        
        <h5 class="text-center">Ainda não se registou?</h5>
        <div class="text-center">
          <a class="btn" href="{% url 'users:register' %}">Registar</a>
        </div>
      </div>
    </div>
  </div>

{% else %}

  <h1>GERAR BBCode</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">GERAR</button>
    </form>
  {% if result %}
    <p>{{ result }}</p>
  {% endif %}

{% endif %}

{% endblock %}
