{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}
<div class="">
    <div class="row pb-5">
        <div class="col-12 px-0">
            <img src="{% static 'images/modulo-1.jpg' %}" alt="" width="100%">
        </div>
        <div class="col-12 col-lg-8 offset-lg-2 align-self-center">
            <div class="heroimg p-4" style="background-color: white; margin-top: -50px; text-align: center;">
                <h1 class="text-center pb-3"><b> Já ouviu dizer que o <span style="color: #e87e19;">ar</span> é de todos?</b></h1>
                <h3 class="pb-3">O dia aberto Bimby® vai ser uma lufada de <span style="color: #e87e19;">ar</span> fresco para a sua cozinha.</h3>
                <h4 class="pb-3">Vamos dar-lhe <span style="color: #e87e19;">AR</span> para poup<span style="color: #e87e19;">AR</span>, <span style="color: #e87e19;">AR</span> para organiz<span style="color: #e87e19;">AR</span>, <span style="color: #e87e19;">AR</span> para plane<span style="color: #e87e19;">AR</span>, <span style="color: #e87e19;">AR</span> para retom<span style="color: #e87e19;">AR</span> e o <span style="color: #e87e19;">AR</span> para respir<span style="color: #e87e19;">AR</span>.</h4>
                <h6 class="pb-3">Venha conhecer o novo acessório, a Mandolina Bimby® e aproveitar oportunidades incríveis para rentabilizar a sua Bimby®
                Visite-nos no dia 11 de março de 2023 das 10h às 20h.</h6> <br>
                <div class="text-center">
                    <a class="btn btn-outline-info" href="#">Programação/Informações do evento</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-12 col-lg-8 embed-responsive embed-responsive-16by9 mx-auto">
            <iframe class="embed-responsive-item p-5 m-auto" src="https://www.youtube.com/embed/c4MCULXC1oE" style="width: 100%; height: 100%; border:none;"></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-xl-3 d-flex mb-4 align-items-stretch">
            <div class="m-1 heroimgbox">
                <img src="{% static 'images/modulo-3.png' %}" alt="" width="100%" class="heroimg">
                <div class="p-3 mt-2">
                    <h4 class="text-center">Apresentar a Mandolina</h4>
                    Faça refeições impressionantes e surpreendentemente fáceis com a Mandolina. Fatie e rale ingredientes diferentes, de forma a dar sabor e textura a uma grande variedade de pratos.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 d-flex mb-4 align-items-stretch">
            <div class="m-1 heroimgbox">
                <img src="{% static 'images/modulo-4.png' %}" alt="" width="100%" class="heroimg">
                <div class="p-3 mt-2">
                    <h4 class="text-center">Conhecer a Bimby®</h4>
                    Descubra a Bimby® TM6. É incrivelmente simples!
                </div>             
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 d-flex mb-4 align-items-stretch">
            <div class="m-1 heroimgbox">
                <img src="{% static 'images/modulo-5.png' %}" alt="" width="100%" class="heroimg">
                <div class="p-3 mt-2">
                    <h4 class="text-center">Vender a retoma</h4>
                        Se tem uma Bimby® TM21, TM31, TM5 ou qualquer outro robot de cozinha multifunções que cozinhe, vai adorar esta oportunidade.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 d-flex mb-4 align-items-stretch">
            <div class="m-1 heroimgbox">
                <img src="{% static 'images/modulo-6.png' %}" alt="" width="100%" class="heroimg">
                <div class="p-3 mt-2">
                    <h4 class="text-center">Descontos e promoções</h4>
                        É hora de poupar! Descontos até 60%.*
                    <br>* descontos apenas nas lojas físicas onde o evento se realiza durante o dia 11 de março
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-left: 0px; padding-right: 0px; padding-top: 120px;">
        <div class="col-12 col-md-4 px-0">
            <img src="{% static 'images/modulo-7.jpg' %}" alt="" width="100%">
        </div>
        <div class="col-12 col-md-8 align-self-center my-5 my-md-0">
            <h3 class="text-center">
                Sugestões de receitas que farão a sua despensa mais rica e receitas para explorar o novo acessório Bimby® - Mandolina.
            </h3>
            <div class="my-2 text-center">
                <a class="btn btn-outline-info" href="{% url 'eventos:receitas' %}">Saber Mais</a>
            </div>
        </div>
        <div class="col-12 mt-5" style="padding-left: 0px; padding-right: 0px; padding-top: 90px;">
            <a href="{% url 'eventos:generate_bb_code' %}">
                <img src="{% static 'images/modulo-8.png' %}" alt="" width="100%">
            </a>
        </div>
    </div>
</div>
{% endblock content%}