{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}
<div class="row">
    <div class="col-12 p-5 text-center">
        <h2 class="pb-2"><b> <span style="color: #e87e19;">Ofertas</span> para todos os gostos!</b></h2>
        <h4>Descubra tudo numa <span style="color: #e87e19;">Loja Bimby®</span> perto de si!</h4>
    </div>
</div>


<div class="container-fluid">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Copo-Bimby-TM6.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Copo Bimby® TM6</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Anna.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Anna</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Ben.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Ben</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card h-100 align-content-stretch">
                    <img src="{% static 'images/Bimby-server.png' %}" alt="" width="100%" class="card-img">
                
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Bimby® server</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Forma-Varoma.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Forma Varoma</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Escova-de-limpeza-Bimby.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Escova de limpeza Bimby® </h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Lancheira-blum-verde.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Lancheira Black & Blum Bimby®</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Espátula-verde.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Espátula verde</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Maçarico-de-cozinha.jpg' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Maçarico de cozinha</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Batchcooking.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Livro Batchcooking</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Fácil-e-Criativo.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Livro Fácil ou Criativo</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/A-Bimby-Faz-para-a-despensa.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Livro a Bimby® Faz para a Despensa</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/A-Bimby-Faz.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Livro a Bimby® Faz</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Ontem-hoje-e-sempre.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Livro Bimby® - Ontem, hoje e sempre</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Tudo-sobre-Modos.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Livro Bimby® - Tudo sobre os Modos</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex mb-4">
            <div class="card text-center">
                <img src="{% static 'images/Cabaz.png' %}" alt="" width="100%" class="card-img-top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title">Cabaz da poupança</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}