{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}
<div class="row w-100">
    <div class="col-12 mx-2 p-5 text-left">
        <h4 class="text-center pb-3"><b> Experimente o prazer de uma vida <span style="color: #e87e19;">organizada</span>, onde o imprevisto não nos apanha de surpresa e a garantia de que aquilo que vai comer é <span style="color: #e87e19;">saudável</span>, <span style="color: #e87e19;">equilibrado</span> e está ali mesmo... Na prateleira da <span style="color: #e87e19;">despensa</span>!</b></h4>
            <h5 class="text-center">Deixamos aqui algumas sugestões de receitas que farão a sua despensa mais rica:</h5>
    </div>
</div>

<div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="despensa-tab" data-toggle="tab" data-target="#despensa" type="button" role="tab" aria-controls="despensa" aria-selected="true">
                <i class="despensa-icon"></i> Despensa</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="mandolina-tab" data-toggle="tab" data-target="#mandolina" type="button" role="tab" aria-controls="mandolina" aria-selected="false">
                <i class="mandolina-icon"></i> Mandolina</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="despensa" role="tabpanel" aria-labelledby="despensa-tab">

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r347450" target="_blank">
                            <img src="{% static 'images/manteiga-amendoim.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Manteiga de amendoim em dois tamanhos</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r432184" target="_blank">
                            <img src="{% static 'images/molho-caramelo.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Molho de caramelo</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r616775" target="_blank">
                            <img src="{% static 'images/granola-integral-com-nozes.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Granola integral com nozes</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r773601" target="_blank">
                            <img src="{% static 'images/manteiga-caju.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Manteiga de caju com cacau</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r215649" target="_blank">
                            <img src="{% static 'images/pasta-de-alho.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Pasta de alho</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r131748" target="_blank">
                            <img src="{% static 'images/granola-para-os-mais-novos.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Granola para os mais novos</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r61333" target="_blank">
                            <img src="{% static 'images/doce-morango-maçã.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Doce de Morango e Maçã</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r131747" target="_blank">
                            <img src="{% static 'images/bolachas-chocolate-arandos-laranja.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Bolachas - Chocolate, Arandos e Laranja</h5>
                            </div>  
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r215650" target="_blank">
                            <img src="{% static 'images/vinagreta-ervas.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Vinagreta de Ervas</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r40977" target="_blank">
                            <img src="{% static 'images/marmelada-maçã-reineta.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Marmelada de Maçã Reineta</h5>
                            </div>  
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r49598" target="_blank">
                            <img src="{% static 'images/barras-cereais-maçã.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Barras de Cereais e Maçã</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r750863" target="_blank">
                            <img src="{% static 'images/bolachas-quase-tudo.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Bolachas de quase tudo</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
                
        <div class="tab-pane fade" id="mandolina" role="tabpanel" aria-labelledby="mandolina-tab">

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r803006" target="_blank">
                            <img src="{% static 'images/buddha-bowl-com-frango-TM6.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Buddha bowl com frango</h5>
                            </div>  
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r803009" target="_blank">
                            <img src="{% static 'images/galette-ratatouille.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Galette de ratatouille</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex mb-4">
                    <div class="card text-center">
                        <a href="https://cookidoo.pt/recipes/recipe/pt-PT/r803282" target="_blank">
                            <img src="{% static 'images/clafoutis-ameixa.jpg' %}" alt="" width="100%" class="card-img-top">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h5 class="card-title">Clafoutis de ameixa</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}